:root{
    --pr-color : #048853;
}

body{
    font-family: 'Poppins', sans-serif;
}
/* navbar style */
.navbar {
z-index: 3;
}

* {
    z-index: 2;
}

.accent-img {
    z-index: 1;
}

.navbar-brand {
    font-weight: 700;
    font-size: 20px;
}
.nav-link.active{
    font-weight: 700;
}

/* hero style */
#hero {
    background: linear-gradient(160deg, var(--pr-color), #000);
    height: 100vh;
    width: 100%;

}
.img-hero{
    height: 100%;
    z-index: 1;
}

.hero-tagline h1{
color: white;
font-weight: 700;
font-size: 50px;
line-height: 72px;
}

.hero-tagline p {
font-size: 16px;
color: white;
margin-bottom: 60px;
margin-top: 20px;
line-height: 30px;
width: 85;
}

/* tombol style */
.tombol-secondary{
    width: 133px;
    height: 40px;
    background-color: white;
    color: var(--pr-color);
    border: none;
    font-size: 16px;
    font-weight: 700;

}
.tombol-primary{
    width: 133px;
    height: 40px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 400;

}
.tombol-lg-primary {
    width: 237px;
    height: 70px;
    background-color: white;
    color: var(--pr-color);
    border: none;
    font-size: 20px;
    font-weight: 700;
}